#hero{
    margin: 40px;

}
.boxx{
    background-color: #FEEAE9;
    /* padding-bottom: 70px; */
    /* padding: 120px; */
    border-radius: 10px;
    /* display: flex; */
    
}
#box2 h1{
    font-size: 50px;
    margin: 20px;
}

.hero2{
    padding-bottom: 40px;
   
}

#box2 h2{
    color: #FF136F;
    margin: 20px;
    font-size: 40px;
}
#box2 p{
    margin: 20px;
    font-size: 20px;
    color: grey;

}

#boxs{
    display: flex;
    /* align-items: end; */
    justify-content: space-between;
    width: 100%;
    
    align-items: center;
    
    

}



