



.heading{
    font-size: 25px;
    
}
.img{
    justify-content:space-between;
    /* background-color: blue; */
    display: flex;
    gap: 50px;
}

#img1{
    background-color: #FF9C35;
    width: 250px;
    display: flex;
    border-radius:30px ;
    gap: 20px;
}
#img2{
    background-color: #FF136F;
    width: 250px;
    display: flex;
    gap: 40px;
    border-radius:30px ;
}
#img3{
    background-color: #3F07F8;
    width: 250px;
    display: flex;
    border-radius: 30px;
    
}

.heading h3{
    font-size: 40px;
    /* padding-bottom: 15px; */
    margin-bottom: 30px;
}
.gap{
    font-size:50px;
    margin: 20px;
    
}
.gap1{
    font-size: 45px;
    margin: 20px;
    width: 29px;
}