.shoes-display{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap:20px;
    text-align: center;
    /* margin:0 auto; */
    padding-bottom: 60px;
    /* margin-bottom: 30px; */
    /* padding: 20px; */

    /* width: 80.5%; */
    
}

.heading{
    margin: 0 auto;
    font-size: 50px;
}
.box4{
    /* padding: 10px; */
    margin: 0 auto;
}
.shoes1 *{
margin-bottom: 20px;

}
.shoes1 h4 ,h5{
    font-size: 25px;
    text-align: center;
}
.shoes1{
    background-color:white;
    border-radius: 30px;
    border: 2px solid black;
    /* padding: 30px; */
}
.heading h4 {
    font-size: 90px;
    margin-bottom: 30px;
}