.box5{
    /* margin: 100px; */
    text-align: center;
    background-color: #FFF2F1;
    padding: 120px;
    border-radius: 50px;
}
.email button {
    background-color: #FF136F;
}
.email{
    background-color: aqua;
}

.btn{
    
    border-radius: 5px;
    color: #ffffff;

}
.box5 h4 {
    font-size: 50px;
    padding: 20px;
}
.box5 p {
    font-size: 40px;
    padding: 30px;
}


.box5 input{
   width: 500px;
   height: 50px;
    /* background-color: #FF136F; */
    font-size: 40px;
    text-align: center;
    border: 2px solid black;
}
.box5 button{
   width: 90px;
   height: 50px;
    background-color: #FF136F;
    font-size: 40px;
    text-align: center;

}
.btn3{
    /* padding: 14px 30px; */
    border: none;
    /* border-radius: 25px; */
    /* font-weight: bold; */
     box-shadow: 0 10px 30px 0 #8C8C8C;
     cursor: pointer;
     /* margin: 20px; */
     transition: .5s;
     /* border: 2px solid slategrey; */
     background-color: #FF136F;
}
.btn3:hover{
    background-color:azure;
    /* color: black; */
}
