@media screen and (max-width:1200px) {
    .heading h3{
    font-size: 70px;
    /* padding-bottom: 15px; */
    margin-bottom: 50px;
    /* line-height: 40px; */
    
}
.heading h4 {
    font-size: 70px;
    margin-bottom: 30px;
    
}
.shoes-display{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap:10px;
    text-align: center;
    /* margin:0 auto; */
    padding-bottom: 60px;
    /* margin-bottom: 30px; */
    /* padding: 20px; */

    /* width: 80.5%; */
    
}
#box2 h1{font-size: 40px;}
}
@media screen and (max-width:1024px) {.img{
    justify-content:space-between;
    /* background-color: blue; */
    flex-direction: column;
    gap: 30px;
       /* gap: 50px; */
    padding-bottom: 60px;
    
}
#img1{
    width: 100%;
    height: 130px;
}
#img2{
    width: 100%;
    height: 130px;
}
#img3{
    width: 100%;
    height: 130px;
}
.shoes-display{
    flex-direction: column;
    justify-content: space-between;
    /* align-items: end; */
    gap:20px;
    text-align: center;
    /* margin:0 auto; */
    padding-bottom: 60px;
    /* margin-bottom: 30px; */
    /* padding: 20px; */

    /* width:100%; */
    
}
    .shoes1{
    background-color:white;
    border-radius: 30px;
    width: 100%;
    border: 2px solid black;
    /* padding: 30px; */
}
.shoes1 h4{
    font-size: 55px;
    text-align: center;
}
.shoes1 h5{
    font-size: 60px;
}
.shoes1 p {
    font-size: 20px;
}
.box5 button{
    margin: 20px;
    font-size: 35px;
    border-radius: 5px;

}

}
@media screen and (max-width:768px) {
    .box5 input{
   width: 100%;
   height: 50px;
    /* background-color: #FF136F; */
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
}
.box5 button{
    margin: 20px;
    font-size: 20px;
    border-radius: 20px;
}
#box2 h1{font-size: 40px;}
#boxs{
    flex-direction: column;
    /* align-items: end; */
    justify-content: space-between;
    width: 100%;
    
    align-items: center;
    }
    #box2 h2{
        font-size: 60px;
    }
}

@media screen and (max-width:568px) {
    #img img{
        width:60%;
    }
    #img9 img {
        width: 80%;
    }
    #box2 h1{font-size: 20px;}
    #box2 h2{font-size: 40px;}
     .heading h3{
        font-size: 40px;
     }.gap1 h5{
    font-size: 45px;
    margin: 20px;
    width: 29px;
}
.gap h5{
    font-size: 45px;
    /* margin: 20px; */
    width: 29px;
}
.heading h4 {
    font-size: 45px;
    
    
}
.shoes-brands img{
    width: 80%;
}.shoes1 h4{
    font-size: 35px;
    text-align: center;
}
.shoes1 h5{
    font-size: 30px;
}.box5 h4 {
    font-size: 30px;
    
    
}.box5{
    /* margin: 100px; */
    text-align: left;
    background-color: #FFF2F1;
    padding: 20px;
    border-radius: 30px;
}.box5 p {
    font-size: 30px;
    padding: 30px;
}
}
